@media only screen and (min-width: 800px){
  .menu-container{
    display: none;
  }

}

.wrapper{
  padding-bottom: 10px;
}
.mid p{
  font-size: 2rem;
  padding-top: 10px;
  
}



@media only screen and (max-width: 986px) {
    
.section1{
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 61%;
}
.section2{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 74%;
}
.section3{
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
}
.section5{
    flex-wrap: wrap;   
}
.section6{
    flex-wrap: wrap;
    
    }
    .section7{
        flex-wrap: wrap;
      
        }    
.review-box{
   justify-content: center;
} 
}

@media screen and (max-width:977px){
    
.secondlast{
    flex-wrap: wrap;
    height: auto;   
}
.mid p{
  margin-top: 100px;
  }
  .wrapper{
    padding-bottom: 10px;
  }


.main{
    flex-wrap: wrap;  
}

}



@media screen and (max-width:768px) {
  .menus{
    display: none;
  }


}




@media screen and (max-width:321px)  {
  
  .buttonget{
    width: 80%;
  }
  .buttonsee{
    width: 78%;
  }
   
  .wrapper{
    padding-bottom: 10px;
  }
 
  .bodymain{
    width: 100%;
    text-align: center;
  
   }
  
  .bodyareapart{
    width: 100%;
    text-align: center;
   
  }

     .section3 div{
      width: 90%;
      
     }
    .section4 p{
        width: 100%;
      
      }
      .section4 h2{
        width: 100%;
      }

      .section5{
        gap: 10px;
      }
      .section9{
       width: 90%;
      }
      .section10{
       width: 90%;
      
      }
      
      .section11{
       width: 90%;
      
      }
      .section12{
       width: 90%;
      
      }
      .section13{
       width: 90%;
      
      }
      .section14{
       width: 90%;
      
      }
     
     .new1{
      width: 50%;
     }
     .new2{
      width: 80%;
     }
     .button{
     flex-wrap: wrap;
    
     }

    .wrapper{
        height: auto;
    }
     .footer2 p{
        width: 70%;
     }

     .socialmedia{
        width: 66%;
        gap: 20px;
     }
     .company{
      width: 80%;
     }
      .box{
        width: 80%;
      }
      .bodyarea{
        text-align: center;
        padding-bottom: 80px;
      }
      .section4{
        text-align: center;
      }
      .section8{
        text-align: center;
      }
     .section15{
        text-align: center;
     }

     .buttongetit{
      width: 80%;
     }
     .main{
        text-align: center;
     }
     .footer{
        text-align: center;
     }
    }

    @media screen and (max-width:376px){
     .footer2 .socialmedia{
      width: 60%;
     }
     .box{
       width: 80%;
     }
     .bodyarea{
       text-align: center;
       
       margin-bottom: 0px;
     }
     .section4{
       text-align: center;
     }
     .section8{
       text-align: center;
     }
    .section15{
       text-align: center;
    }
    .main{
       text-align: center;
    }
    .footer{
       text-align: center;
    }

    .section15 .buttongetit{
      width: 80%;
     font-size: 2rem;
    }
  }

    
@media screen and (max-width:426px){
  .mid p{
    font-size: 2rem;
    
  }
  .bodymain{
    width: 100%;
    text-align: center;
  
   }
  
  .bodyareapart{
    width: 100%;
    text-align: center;
  }
  .company{
    padding-left: 10%;
  }
  .footer2 p{
    width: 60%;
    
  }
  .socialmedia{
    width: 40%;
  }

  



}

